.interests-menu {
    position: absolute;
    top: 40px;
    left: 630px;
    background-color: rgba(0,0,0,1);
    
}

.current-date {
    color: white;
}

.current-time {
    color: white;
}